.App {
  text-align: center;
  font-family: arial, sans-serif;
  color: #6c6969;
  padding: 16px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 4px;
}
.container {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  margin: 20px 0;
  max-width: 800px;
  padding: 20px 16px 24px;
  background-image: url("images/bright_weather_back.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
