.App {
  text-align: center;
}
.container {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  margin: 20px 0;
  max-width: 800px;
  padding: 20px 16px 24px;
}

h2,
h5,
p {
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
}
h2,
h4,
h5 {
  text-align: center;
}
h4 {
  font-size: 64px;
}

.col {
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
}
#search-button,
#current-location {
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
  border: 1px solid #fff;
  color: #fff;
  background-color: #8fbbb0;
  border-radius: 5px;
}

.card-body {
  color: #fff;
  background: #8fbbb0;
}
.time {
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
  text-align: right;
}
.search {
  border: 1px solid #2cd75f;
  background: #ffff;
  border-radius: 5px;
}
.sun-image {
  text-align: center;
}
.credits {
  font-size: 14px;
  padding: 10px;
}

::placeholder {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-family: "Titillium Web", sans-serif;
}
#wind,
#humidity {
  text-align: right;
}
#degrees {
  text-align: center;
}
