.Weather h1 {
  display: block;
  font-size: 48px;
  font-weight: 100;
  line-height: 29px;
  text-align: left;
  padding-bottom: 10px;
}
.Weather h4 {
  padding-top: 10px;
}

.weatherUpdate {
  text-align: left;
}
.credits {
  font-size: 14px;
  padding: 10px;
  color: #6c6969;
}
.credits a {
  color: rgb(191, 150, 45);
  text-decoration: none;
}
.time {
  text-align: right;
}

.sun-image {
  text-align: center;
}
.Weather .units {
  font-size: 16px;
  line-height: 1;
  top: -20px;
  position: relative;
}
.units a {
  text-decoration: none;
  color: #6c6969;
}
.Weather .temperature {
  font-weight: bold;
  font-size: 48px;
  color: rgb(33, 33, 33);
  font-weight: 400;
  line-height: 64px;
}
input:focus {
  outline: none;
}
